       IDENTIFICATION DIVISION.
       PROGRAM-ID. IC233A.
       ENVIRONMENT DIVISION.
       CONFIGURATION SECTION.
       SOURCE-COMPUTER.
           GNU-Linux.
       OBJECT-COMPUTER.
           GNU-Linux.
       INPUT-OUTPUT SECTION.
       FILE-CONTROL.
           SELECT PRINT-FILE ASSIGN TO
           REPORTT.
           SELECT OPTIONAL TEST-FILE ASSIGN TO
           "XXXXX018".
       DATA DIVISION.
       FILE SECTION.
       FD  PRINT-FILE.
       01  PRINT-REC PICTURE X(120).
       01  DUMMY-RECORD PICTURE X(120).
       FD  TEST-FILE GLOBAL.
       01  TEST-REC PIC X(20).
       PROCEDURE DIVISION.
       DECLARATIVES.
       SECT-IC233A-001 SECTION.
           USE GLOBAL AFTER ERROR PROCEDURE ON INPUT.
       USE-TEST-2.
           DISPLAY "At USE-TEST-2".
       END DECLARATIVES.
       CALL "IC233A-1".

       IDENTIFICATION DIVISION.
       PROGRAM-ID. IC233A-1.
       PROCEDURE DIVISION.
      *> DECLARATIVES.
      *> SECT-IC233A-001 SECTION.
      *>     USE AFTER ERROR PROCEDURE ON INPUT.
      *> USE-INPUT-ERROR.
      *>     DISPLAY "At USE-INPUT-ERROR".
      *> END DECLARATIVES.
       SECT-IC233A-1-001 SECTION.
       USE-INIT-1.
           OPEN    INPUT TEST-FILE.
           DISPLAY "After open "
           READ    TEST-FILE.
           DISPLAY "After read ".
       END-PROG.
           EXIT PROGRAM.
       END PROGRAM IC233A-1.
       END PROGRAM IC233A.
